.wallpapers-flowbox {
    padding-top: 24px;
}
.slideshow-btn-inactive > button > image {
    color: @theme_unfocused_fg_color;
}
.slideshow-btn-active > button > image {
    color: @success_color;
}
.linked button {
    margin-top: 0;
    margin-bottom: 0;
}

.bigger_bold {
    font-size: 1.2rem;
    font-weight: bold;
}
